---
layout: layouts/wedding-single.njk
pagination:
    data: weddings
    size: 1
    alias: wedding
eleventyComputed:
  yoastHead: "{{ wedding.yoast|safe }}"
permalink: /weddings/{{ wedding.slug }}/index.html
---